<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body>
    <h2>Login</h2>
    <form action="submit" method="POST">
        {% csrf_token %}
        <div align="center">
            <label>Usuário: </label>
            <input type="text" name='username'>
            <label>Senha: </label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>
    {% for message in messages %}
        <div align="center">
            <strong>Erro:</strong>{{ message }}
        </div>
    {% endfor %}
</body>
</html>